Egg Teller/.DS_Store
.DS_Store
Egg Teller.xcodeproj/xcuserdata/*
Egg Teller.xcodeproj/project.xcworkspace/xcuserdata/*


EggTeller.xcodeproj/xcuserdata/ishaangandhi.xcuserdatad/xcschemes/xcschememanagement.plist

EggTeller.xcodeproj/project.xcworkspace/xcuserdata/ishaangandhi.xcuserdatad/WorkspaceSettings.xcsettings

EggTeller.xcodeproj/xcuserdata/ishaangandhi.xcuserdatad/xcschemes/Egg Teller.xcscheme

EggTeller.xcodeproj/project.xcworkspace/xcuserdata/ishaangandhi.xcuserdatad/UserInterfaceState.xcuserstate
